//Loading
@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes bubble {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes bubble-medium {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes bubble-medium-half {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.4);
	}
	50% {
		transform: scale(1);
	}
}

@keyframes swing {
	0% {
		transform: rotate(0deg) scale(1);
	}
	25% {
		transform: rotate(-2deg) scale(1.1);
	}
	50% {
		transform: rotate(2deg) scale(1.1);
	}
	100% {
		transform: rotate(0deg) scale(1);
	}
}

@keyframes pop {
	0% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}




