// Contenedores
html, body, #app, #app > .container, .home {
  min-height: 100vh;
}
#app > .container {
  display: flex;
}
body {
	padding-bottom: 15px;
	font-family: Helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	background-color: color('white');
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contenedor {
	flex: 1;
	border-radius: 10px;
	align-items: center;
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
	color: color('white');
	transition: background .3s ease;
	position: relative;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: 'Anja Eliane', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


h1 {
  font-size: 4rem;
  @include stroke(4, color('white'));
}

p {
    font-size: 2rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 2rem;
  	margin: 0 0 1em 0;
  	color: color('white');
	strong {
		font-weight: 900;
	}
}



.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.text-center {
	text-align: center;
}
.flex-vertical-center {
	display: flex;
	align-items: center;
}

.letter {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: color('white');
  display: inline;
  width: 20px;
  margin-right: 10px;
  .done {
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  }
  .notdone {
    border-bottom: 4px solid color('white');
  }
}



// Botones
.button {
	text-align: center;
	padding: 15px;
	border-radius: 30px;
	border: solid 4px color('white');
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	min-width: 200px;
	font-size: 18px;
	line-height: 18px;
	background-color: transparent;
	color: color('white');
	letter-spacing: 2px;
  	font-family: $font-futura;
  	cursor: pointer;
  	transition: opacity .3s ease;
  	outline: none;
  	&:hover {
		opacity: .7;
  	}
	&:hover, &:focus, &:active, &:visited {
		color: color('white');
		text-transform: uppercase;
    	text-decoration: none;
    	outline: none;
	}
}
.button-facebook-login {
	background: url('./assets/img/facebook_logo_blue.png') 25px 50% no-repeat;
	background-size: 25px auto;
	padding-left: 60px;
	min-width: none;
}

.button-ranking, .button-premios {
	background-size: 30px auto;
	display: inline-block;
	padding: 0 35px 0 0;
	min-height: 31px; 
	border: none;
	text-align: right;
	letter-spacing: 2px;
  	font-family: $font-futura;
  	font-weight: bold;
  	text-transform: uppercase;
}

.header-button {
	display: inline-block;
	padding: 0;
	height: 3px; 
	border: none;
	text-align: right;
	letter-spacing: 2px;
  	font-family: $font-futura;
  	font-weight: bold;
  	text-transform: uppercase;
  	background-color: transparent;
}

@media (min-width: 530px) {

	.button {
		min-width: 250px;
	}
	h1, .puffy-text {
		font-size: 3rem;
	}

}



