header {
	min-height: 90px;
	position: relative;
}
.premios {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 900;
}
.header-logo-novaton {
	margin-top: 15px;
	img {
		width: 160px;
	}
}
.header-sponsors {
	position: absolute;
	left: 0;
	list-style: none;
	text-align: left;
	&, & > li, & > li > a {
		padding: 0;
		margin: 0;
	}
	& > li, & > li > a {
		display: inline-block;
	}
}
.header-sponsors-nova, .header-sponsors-teleton {
	max-width: 115px;
	display: inline-block;
}

.header-toggle-menu {
	position: absolute;
	right: 15px;
	top: 35px;
	margin: 0;
	border: none;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	.icon-bar {
		width: 30px;
		height: 4px;
		border-radius: 4px;
		transition: background-color .2s ease;
		display: block;
		margin-bottom: 4px;
	}
	&:not(.is-toggled) {
		.icon-bar {
			background-color: color('light-gray')
		}
	}
}
.header-menu {
	position: absolute;
	right: 0;
	top: 90px;
	background: color('white');
	z-index: 1;
	background-color: color('white');
	text-align: right; 
	padding-right: 15px;
	padding-left: 15px;
	display: none;
	z-index: 10;
	&.header-menu-visible {
		display: inline-block;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 20px;
		}
	}
}
.header-score {
	position: absolute;
	top: 20px;
	right: 0;
	.point-counter {
		display: inline-block;
		font-family: $font-june;
		font-size: 2.5rem;
	}
}
.header-score-bump, .header-countdown-bump {
	animation: bubble-medium .5s linear;
}
.header-countdown-bump {
	animation: bubble-medium-half 1s linear infinite;
}
.header-countdown {
	position: absolute;
	top: 10px;
	left: 0;
}
.header-countdown-seconds {
	z-index: 2;
	font-size: 3rem;
	line-height: 3rem;
	position: relative;
}
.header-mobile-score .header-score {
	position: relative;
	top: 0;
}

.header-button {
	outline: none;
}
.header-icon {
	width: 50px;
}
.button-premio .header-icon {
	width: 35px;
}
.button-ranking .header-icon {
	width: 40px;
}

@media (min-width: 375px) {

	.header-sponsors-nova, .header-sponsors-teleton {
		max-width: 130px;
	}

}


@media (min-width: $screen-sm-min) {

	header {
		text-align: center;
		min-height: 95px;
	}
	.header-menu {
		position: absolute;
	}
	.header-sponsors {
		display: block;
		left: 80px;
	}
	.header-logo-novaton {
		button {
			background: none;
			border: none;
			cursor: pointer;
		}
		img {
			width: 200px;
		}
	}
	.header-sponsors-nova, .header-sponsors-teleton {
		max-width: 140px;
	}
	.navbar-collapse.collapse {
		display: inline-block !important; 
		position: relative;
		top: 0;
		margin-top: 20px;
		width: auto;
	}
	.header-mobile-score {
		.header-score {
			margin-bottom: 10px;
			display: block;
		}
	}

}

@media (min-width: $screen-md-min) {

	.header-toggle-menu {
		display: none;
	}
	.header-menu {
		display: inline-block;
		top: 15px;
		ul > li {
			display: inline-block;
			margin-bottom: 0;
			&:not(.header-mobile-score):not(.header-ranking-item) {
				padding-top: 12px;
				margin-right: 30px;
			}
		}
		.header-mobile-score {
			float: right;
    		margin-right: 0;
    		margin-left: 30px;
    	}
	}

}