img {
	max-width: 100%;
}
.image-hello  {
	width: 33.3%;
}
.image-big-logo {
	width: 255px;
}
.image-don-playing {
	width: 200px;
	animation: swing infinite ease 4s;
}
.image-don-ok {
	width: 200px;
}
.image-don-hurry {
	width: 220px;
	animation: swing infinite ease 4s;
}

@media (min-width: $screen-sm-min) {
	
	.image-hello, .image-don-playing, .image-don-ok  {
		max-width: 250px;
	}
	.image-don-hurry {
		max-width: 270px;
	}

}