.page-home {
	text-align: center;
	color: color('white');
	.image-hello {
		margin-bottom: 10px;
	}
	.instructions {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.header-sponsors {
		display: block;
	}
}

@media (min-width: $screen-sm-min) {

	.page-home {
		.header-sponsors {
			left: 0;
		}
	}

}
