.page-ranking {
	.contenedor {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.container {
		width: 100%
	}
	p {
		font-size: 3.5rem;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	.ranking {
		text-align: left;
		font-family: $font-futura;
		text-transform: uppercase;
		margin-bottom: 20px;
		.img_rank {
			margin-right: 20px;
			float: left;
			.lugar_rank {
				border: 5px solid color('white');
				border-radius: 200px;
				position: relative;
				top: 0px;
				left: 30px;
				font-weight: 900;
				float: left;
				text-align: center;
				width: 40px;
				height: 40px;
				padding: 0;
				font-size: 20px;
				line-height: 30px;
			}
		}
		img {
			border-radius: 200px;
			float: left;
			border: 5px solid color('white');
			max-width: 80px;
		}
		h3.nombre_rank {
			margin: 0;
			font-weight: 900;
		}
		h4.puntos_rank {
			margin: 0;
			line-height: 20px;
			font-weight: 900;
		}
	}
	.header-sponsors {
		display: block;
	}
	.button {
		margin-bottom: 40px;
	}
}


/* Extra Small Devices, Phones */
/*    @media only screen and (min-width: $screen-sm-min) {
			.page-ranking {
				.ranking {
					.img_rank {
						.rank_av {
							width: 160px;
						}
						.lugar_rank {
							width: 60px;
							padding: 15px 10px;
							font-size: 20px;
						}
					}
					h3.nombre_rank {
						font-size: 250%;
						margin-bottom: 20px;
					}
					h4.puntos_rank {
						font-size: 200%;
					}
				}
			}
		}
*/

@media (min-width: $screen-sm-min) {
	.page-ranking {
		.header-sponsors {
			left: 0;
		}
		.header-mobile-menu {
			position: absolute;
		}
	}
}

/* Medium Devices, Desktops */
    @media only screen and (min-width : $screen-md-min) {
			.page-ranking {
				.ranking {
					img {
						border-width: 8px;
					}
					h3.nombre_rank {
						font-size: 150%;
						margin: 0;
					}
					h4.puntos_rank {
						font-size: 125%;
					}
				}
			}
		}
