.page-cuadros {
	p {
		font-size: 3rem;
		line-height: 3rem;
		font-weight: 900;
		text-transform: uppercase;
	}
	.button {
	  background-color: color('turq');
	  margin-bottom: 40px;
	}
	.cuadro {
		text-align: left;
		font-family: $font-futura;
		text-transform: uppercase;
		margin-top: 10px;
		img {
			border-radius: 10px;
			float: left;
			margin-bottom: 20px;
			border: 10px solid color('white');
			max-width: 150px;
			cursor: pointer;
		}
		.active {
			display: block;
			float: left;
			margin-right: 30px;
		}
		.inactive {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			display: block;
			float: left;
		}
		.inactive::before {
			position: relative;
			background-image: url('./assets/img/icon_locked.png');
			display: inline-block;
			content:"";
			top: 50px;
			right: 90px;
			background-size: 30px 40px;
			width: 30px;
			height: 40px;

		}
		h4.nombre_cuadro {
			font-weight: 900;
			margin: 0;
			font-size: 1.8em;
			line-height: 1em;
		}
		h5.autor_cuadro {
			font-family: 'Helvetica', Arial, sans-serif;
			font-weight: 700;
			text-transform: none;
			margin: 0;
			font-size: 1.5em;
			line-height: 1.5em;
		}
		h6.puntos_cuadro {
			font-weight: 900;
			margin: 5px 0 0 0;
			font-size: 1.2em;
			line-height: 1.2em;
		}
	}
	.modal-footer .button {
		margin: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $screen-sm-min) {
	.page-cuadros {
		.cuadro {
			img {
				border: 10px solid color('white');
				max-width: 100px;
			}
			.active {
				margin-right: 25px;
			}
			.inactive::before {
				top: 25px;
				right: 65px;
				background-size: 25px 33px;
				width: 25px;
				height: 33px;
			}
			h4.nombre_cuadro {
			}
			h5.autor_cuadro {
				line-height: normal;
			}
			h6.puntos_cuadro {
			}
		}
		.header-sponsors {
			left: 0;
		}
		.header-mobile-menu {
			position: absolute;
		}
	}
}
