.page-perdiste {
	.puffy-text {
	  font-size: 4rem;
	  color: color('orange');
	}
	.button {
	  background-color: color('pink');
	  margin-bottom: 20px;
	}
	.btn-orange {
		background-color: color('orange');
	}
	.button-position-over {
		position: relative;
		z-index: 3;
	}
	.header-sponsors {
		display: block;
	}
}

@media (min-width: $screen-sm-min) {
	.page-perdiste {
		.header-sponsors {
			left: 0;
		}
		.header-mobile-menu {
			position: absolute;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.page-perdiste {
		.flex-vertical-center {
			justify-content: center;
		}
	}
}

/* Medium Devices, Desktops */
    @media only screen and (min-width : $screen-md-min) {
			.page-perdiste {
				p {
					font-size: 2rem;
				}
				.button {
					border-width: 8px;
				}
			}
		}
