.page-play {
	text-align: center;
	color: color('white');
	.image-don-playing, .image-don-hurry {
		margin-bottom: 20px;
	}
	.instructions {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.question {
	  font-size: 4rem;
	  line-height: 4rem;
	  margin-bottom: 40px;
	}
	.play-header {
		margin: 15px 0 15px 0;
	}
	.timer-wrapper {
		width: 80px;
		height: 80px;
		overflow: hidden;
	}
	.word-mask {
		list-style: none;
		padding: 0;
		margin: 0 0 40px;
		font-family: helvetica, arial, sans-serif;
		font-weight: bold;
		font-size: 1.5rem;
		letter-spacing: 3px;

	}
	.word-mask-word {
		display: inline-block;
		margin-bottom: 20px;
	}
	.word-mask-word:not(:last-child) {
		margin-right: 20px;
	}
	.word-mask-placeholder {
		display: inline-block;
		float: none;
		text-transform: uppercase;
		font-size: 2em;
		line-height: 1em;
		margin-right: 5px;
		position: relative;
		letter-spacing: 3px;
		width: 1em;
		&::after {
			content: "";
		    border-bottom: solid 3px rgba(color('white'), .5);
		    display: block;
		}

	}
	.word-mask-try {
		background-color: transparent;
		border: none;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		opacity: 0;
	}
	.word-mask-letter-underline {
		&::after {
			border-color: color('white');
		}
		&.blink::after {
			animation: blink .3s infinite linear;
		}
	}
	.word-mask-letter-wrong::after {
		border-color: red;
	}
	.word-mask-letter-correct::after {
		border-color: rgba(color('white'), .7);
	}
	.play-next.bubble {
		animation: bubble .5s infinite linear;
	}
	.image-don-ok {
		animation: pop .3s ease-in;
	}
	.play-logo-desktop {
		display: none;
	}
}

@media (min-width: $screen-sm-min) {

	.page-play {
		.header-mobile-menu {
			position: absolute !important;
			right: 0;
		}
	}

}

@media (min-width: $screen-md-min) {

	.page-play {
		.header-logo-novaton {
			display: none;
		}
	}

}

