@import "confetti";

.page-ganaste {
	.puffy-text {
	  font-size: 4rem;
	  color: color('orange');
	}
	.button {
		background-color: color('pink');
		margin-bottom: 20px;
		width: 300px;
		max-width: 90%;
		position: relative;
		z-index: 3;
	}
	.btn-orange {
		background-color: color('orange');
	}
	.button-position-over {
		position: relative;
		z-index: 3;
	}
	.rollo-win {
		height: 115px;
		display: inline-block;
		float: left;
		margin-top: 20px;
	}
	.ganaste-confetti {
		position: absolute !important;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: block;
		top: 0;
		left: 0;
	}
	> .container {
		z-index: 2;
		position: relative;
	}
	.header-sponsors {
		display: block;
	}
	.rollo-der, .rollo-izq {
		display: none;
	}
	p {
		font-size: 3rem;
	}
}

@media (max-width: 529px) {
	
	.page-ganaste {
		.col-xs-8 {
			width: 100% !important;
		}
	}
}

@media (min-width: 530px) {

	.page-ganaste {
		.rollo-der {
			background: url('./assets/img/rollo_nova_right.png') no-repeat center;
		}
		.rollo-izq {
			background: url('./assets/img/rollo_nova_left.png') no-repeat center;
		}
		.rollo-der, .rollo-izq {
			background-size: contain;
			display: inline-block;
		}

	}

}



@media (min-width: $screen-sm-min) {
	.page-ganaste {
		.header-sponsors {
			left: 0;
		}
		.header-mobile-menu {
			position: absolute;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.page-ganaste {
		.flex-vertical-center {
			justify-content: center;
		}
	}
}

/* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
			.page-ganaste {
				.button {
					border-width: 8px;
				}
				p {
					font-size: 2rem;
				}
				.rollo-der {
					background: url('./assets/img/rollo_nova_right_bolder.png') no-repeat center;
					background-size: contain;
				}
				.rollo-izq {
					background: url('./assets/img/rollo_nova_left_bolder.png') no-repeat center;
					background-size: contain;
				}
			}
		}
