<template>
	<div :class="['countdown color-' + color]">
		<div :class="['countdown-spinner gradient-' + color + ' color-' + color
		]"></div>
		<div class="countdown-seconds header-countdown-seconds timer-countdown">
			<span :class="{	'header-countdown-bump': highlightSeconds }">{{ seconds }}</span>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		seconds: {
			type: Number,
			default: 0
		},
		color:  {
			type: String, 
			default: 'turq'
		},
		highlightSeconds:  {
			type: Boolean, 
			default: false
		}
	},
	computed: {
		colorClass () {
			return 'color-' + this.color
		}
	},
	events: {
		onZero () {

		}
	}
}
</script>

<style lang="scss">

</style>