<template>
  <div class="page-wrapper page-cuadros">
    <app-header
      :color="'pink'"
      :showSponsors="true"
      :showMenu="true"
      :score="total">
    </app-header>


    <div class="contenedor gradient-pink">

      <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="row" v-if="isLoggedIn">
                <p>Tienes {{ total }} en total</p>
              </div>
              <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <router-link
                      :to="'play'"
                      tag="button"
                      class="button">
                        Jugar
                      </router-link>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">

                <div class="clearfix cuadro" v-for="(cuadro, i) in cuadros ">
                  <div :class="[total >= cuadro.minScore || debug ? 'active' : 'inactive']" @click="showModal(cuadro)">
                    <img :src="getCuadroImg(cuadro)">
                  </div>
                  <div class="info_cuadro">
                    <h4 class="nombre_cuadro">{{ cuadro.name }}</h4>
                    <h5 class="autor_cuadro">Autor: {{ cuadro.author }}</h5>
                    <h6 class="puntos_cuadro" v-if="isLoggedIn">
                      {{ total >= cuadro.minScore ? 'Desbloqueado' : 'Te faltan ' + (cuadro.minScore - total) + ' puntos' }}
                    </h6>
                    <h6 class="puntos_cuadro" v-else>
                      Desbloqueado con {{ cuadro.minScore }} puntos
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal 
    	v-if="modalShow"
    	:header="modalHeader"
    	:content="modalContent"
    	@close="closeModal">
    </modal>
  </div>
</template>

<script>
import Header from '@/components/Header'
import Modal from '@/components/Modal'
import { mapState } from 'vuex'

export default {
    name: 'Cuadros',
    components: {
        'app-header': Header,
        'modal': Modal
    },
    data () {
		return {
			modalShow: false,
			modalHeader: '',
			modalContent: ''
		}
    },
    computed: mapState([ 'total', 'cuadros', 'isLoggedIn', 'debug' ]),
    methods: {
    	closeModal () {
    		this.modalShow = false
    	},
      	getCuadroImg (cuadro) {
        	return require('../assets/img/' + (cuadro.imgName != '' ? cuadro.imgName : 'logo_novaton_sq.png'))
      	},
      	showModal (cuadro) {
      		if (this.total >= cuadro.minScore) {
	      		this.modalHeader = (cuadro.name != '' ? '<h3 class="color-pink">' + cuadro.name + '</h3>' : '') + '<p>' + cuadro.author + '</p>'
	      		this.modalContent = '<img src="' + this.getCuadroImg(cuadro) + '">'
	      		this.modalShow = true
	      	}
      	}
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
