<template>
	<div class="page-wrapper page-ganaste">
		<app-header
			:color="'pink'"
			:showSponsors="true"
			:showMenu="true"
			:score="total">
		</app-header>
		<div :class="['contenedor gradient-' + (score == 0 ? 'light-blue' : 'pink')]">
			
			<div class="ganaste-confetti" v-show="score > 0"></div>
			<div class="container">
				<div class="row">
					<div class="col-xs-offset-3 col-xs-6">
						<img v-if="score == 0" src="../assets/img/novaton_img_lose.png" class="center-block image-don-ok">
						<img v-if="score > 0" src="../assets/img/novaton_img_win.png" class="center-block image-don-ok">
					</div>
				</div>
				<div class="row flex-vertical-center">
					<div class="col-md-offset-3 col-md-6">
						<div class="row">
							<div class="col-xs-2 rollo-win rollo-izq"></div>
							<div class="col-xs-8">
								<h1 class="puffy-text color-light-pink">Conseguiste {{ score }} Puntos</h1>
							</div>
							<div class="col-xs-2 rollo-win rollo-der"></div>
						</div>
						<div class="row">
							<p>Tienes {{ total }} en total</p>
						</div>
						<div class="row">
							<div class="col-md-offset-2 col-md-8">
								<router-link
								:to="'ranking'"
								tag="button"
								class="button button-position-over">
								Ver Ranking
								</router-link>
							</div>
						</div>
						<div class="row">
							<div class="col-md-offset-2 col-md-8">
								<router-link
								:to="'play'"
								tag="button"
								class="button btn-orange button-position-over">
								Jugar
								</router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Header from '@/components/Header'
import { mapState } from 'vuex'
import Confettiful from '../Confettiful'

export default {
	name: 'Ganaste',
	components: {
		'app-header': Header
	},
	computed: mapState([ 'score', 'total' ]),
	mounted () {
		new Confettiful(document.querySelector('.ganaste-confetti'))
	}

}
</script>

