<template>
  	<header class="header">
    	<ul class="header-sponsors" v-if="showSponsors">
      		<li>
        		<a href="http://www.nova.cl/" target="_blank" rel="noopener noreferrer" class="header-sponsors-nova">
          			<img src="../assets/img/logo_nova.png" >
        		</a>
      		</li>
      		<li>
        		<a href="https://www.teleton.cl/" class="header-sponsors-nova" target="_blank" rel="noopener noreferrer">
          			<img src="../assets/img/logo_teleton17.png" >
        		</a>
      		</li>
    	</ul>

    	<div v-if="showLogo" class="header-logo-novaton">
    		<router-link
    			:to="'home'"
    			tag="button">
    				<img :src="require('../assets/img/logo_novaton_' + color + '.png')" >
    		</router-link>
    	</div>
  
	    <score
	    	v-if="showScore"
	    	class="header-score"
	    	:score="score"
	    	:color="color">
	    </score>

	    <countdown
	    	v-if="showCountdown"
	    	class="header-countdown"
	    	:seconds="countdownSeconds"
	    	:highlightSeconds="highlightSeconds"
	    	:color="color">
	    </countdown>


    	<button type="button" v-if="showMenu" 
    		:class="[
	    		'header-toggle-menu border-' + color,
	    		isMenuExpanded ? 'is-toggled': ''
	    	]" 
	    	:aria-expanded="isMenuExpanded" 
	    	@click="toggleMenu">
			<span :class="['icon-bar bg-' + color]"></span>
			<span :class="['icon-bar bg-' + color]"></span>
			<span :class="['icon-bar bg-' + color]"></span>
	    </button>

	    <nav :class="{
	    	'header-menu': true,
	    	'header-menu-visible': isMenuExpanded
	    }">
      		<ul>
		        <li v-if="isLoggedIn"
		        	class="header-mobile-score">
        			<score	
		                class="header-score "
		                :score="score"
		                :color="color">
					</score>
        		</li>
        		<li v-if="showPlayLink"> 
        			<router-link
        				:to="'play'"
        				tag="button"
        				:class="['header-button button-play color-' + color]">
        					Jugar
        					<img :src="require('../assets/img/icon_play_' + color + '.png')" class="header-icon" alt="">
        			</router-link>

        		</li>
        		<li>
        			<router-link
        				:to="'cuadros'"
        				tag="button"
        				:class="['header-button button-premio color-' + color]">
        					Premios
        					<img :src="require('../assets/img/icon_premio_' + color + '.png')" class="header-icon" alt="">
        			</router-link>
        		</li>
        		<li class="header-ranking-item">
        			<router-link
        				:to="'ranking'"
        				tag="button"
        				:class="['header-button button-ranking color-' + color]">
        					Ranking
        					<img :src="require('../assets/img/icon_ranking_' + color + '.png')" class="header-icon" alt="">
        			</router-link>
        		</li>
      		</ul>
		</nav>
  	</header>
</template>

<script>
import Score from '@/components/Score'
import Countdown from '@/components/Countdown'
import { mapState } from 'vuex'

export default {
	name: 'Header',
	components: {
		'score': Score,
		'countdown': Countdown,
    	'score': Score
	},
	props: {
	    color: {
	      type: String, 
	      default: 'turq'
	    },
	    countdownSeconds: {
	      type: Number,
	      default: 0
	    },
	    highlightSeconds:  {
	    	type: Boolean, 
	    	default: false
	    },
	    score: {
	      type: Number,
	      default: 0
	    },
	    showBack: {
	      type: Boolean,
	      default: false
	    },
	    showCountdown: {
	      type: Boolean,
	      default: false
	    },
	    showLogo: {
	      type: Boolean,
	      default: false
	    },
	    showMenu: {
	      type: Boolean,
	      default: true
	    },
	    showScore: {
	      type: Boolean,
	      default: false
	    },
	    showSponsors: {
	      type: Boolean,
	      default: true
	    }
  	},
	data () {
		return {
			isMenuExpanded: false
		}
	},
	computed: {
		showPlayLink () {
			return this.$route.name != 'play'
		},
		...mapState([ 'isLoggedIn' ])
	},
	methods: {
		toggleMenu () {
			this.isMenuExpanded = !this.isMenuExpanded
		}
	}
}
</script>

<style>
</style>
