<template>
	<div class="page-wrapper page-home">
    	<app-header
        :show-sponsors="true"
        :show-menu="true"
        :score="total"></app-header>

    	<div class="contenedor bg-turq">
			<div class="container">
				<div>
  					<img src="../assets/img/novaton_img_hello.png" alt="" class="image-hello">
  				</div>
        		<img src="../assets/img/novaton_logo_home.png" class="image-big-logo">
        
        		<div class="instructions">
			        <p><strong>Junta la mayor cantidad de puntos Nova<br>
			        y participa por increíbles cuadros <br>
			        hechos por los niños de la Teletón</strong></p>

			    </div>
		        <div v-if="isWordsLoaded">
    					<router-link 
    						v-if="isLoggedIn"
    						:to="'play'"
    						tag="button"
    						class="button">
    						Jugar
    					</router-link>

             	<fb-signin-button
    						v-if="!isLoggedIn && !debug"
    						:params="fbSignInParams"
    						@success="onSignInSuccess"
    						@error="onSignInError"
    						class="button button-facebook-login">
    						Entrar con Facebook
		          </fb-signin-button>
		        </div>
      		</div>
    	</div>
  	</div>
</template>

<script>
import Vue from 'vue'
import Header from '@/components/Header'
import FBSignInButton from 'vue-facebook-signin-button'
import { mapState } from 'vuex'

Vue.use(FBSignInButton)

export default {
	name: 'Home',
	components: {
    	'app-header': Header
  	},
  	data () {
  		return {
  			fbSignInParams: {
	  			scope: 'email,public_profile',
  				return_scopes: true
  			}
  		}
  	},
  	computed: {
  		isLoggedIn: {
  			get () {
  				return this.$store.state.isLoggedIn
  			}
  		},
      isWordsLoaded ()  {
        return this.$store.state.words.length > 0
      },
      total () {
        return this.$store.state.total
      },
      debug () {
        return this.$store.state.debug
      }
  	},
  	created () {
  		// revisar si ya esta logueado.
        if (!this.isLoggedIn) {
  	  		let self = this
          	window.FBLoaded = () => {
  		  		self.facebookAuth()
  		  	}
	        // si a este punto ya FB cargo, llamar a lo que acabo de crear
	        if (typeof FB !== 'undefined')
	            window.FBLoaded()
	  	}
  	},
    mounted () {
      if (this.debug)
        this.facebookAuth()
    },
    methods: {
    	onSignInSuccess (response) {
    		this.facebookAuth()
    	},
    	onSignInError (error) {
    		if (this.$store.state.debug)
    			console.log('Error', error)
    	},
    	logout () {
    	  	let self = this
    	  	FB.logout((response) => {
    	    	if (this.$store.state.debug)
    	    		console.log(response)
    	    	self.$store.commit('logout')
    	  	})
    	},
    	facebookAuth () {
    		let self = this
        if (this.debug) {
          let user = this.$store.state.defaultUser
          this.$store.commit('setUserInfo', {
            facebook_id: user.facebook_id, 
            name: user.name,
            email: user.email,
            facebook_access_token: ''
          })
          this.$store.commit('setUserPicture', user.picture_url)
          this.$store.dispatch('verifyUser', {
            id_facebook: user.faceboook_id,
            foto: user.picture_url,
            token: '',
            name: user.name,
            email: user.email
          })
          this.$store.commit('login')
          this.$store.commit('updateTotal', 0)
        } else {
          FB.getLoginStatus(response => {
              if (response.status === 'connected') {
                  FB.api('/me?fields=id,name,email', person => {
                  self.$store.commit('setUserInfo', {
                    facebook_id: person.id, 
                    name: person.name,
                    email: person.email,
                    facebook_access_token: response.authResponse.accessToken
                  })
                  FB.api('/me/picture?width=300&height=300', picture => {
                    self.$store.commit('setUserPicture', picture.data.url)
                    self.$store.dispatch('verifyUser', {
                      id_facebook: person.id,
                      foto: picture.data.url,
                      token: response.authResponse.accessToken,
                      name: person.name,
                      email: person.email
                    })
                    self.$store.commit('login')
                  })
                })
              }
          })          
        }

      }
    }
}
</script>

<style>
</style>
