<template>

	<div class="modal-mask">
		<div class="modal-wrapper">
			<div class="modal-container">
				<div class="modal-header" v-html="header"></div>
				<div class="modal-body" v-html="content"></div>
				<div class="modal-footer">
					<button class="button" @click="$emit('close')">
						OK
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Modal',
	props: {
		header: {
			type: String,
			default: ''
		},
		content: {
			type: String,
			default: ''
		}
	}
}
</script>


