<template>
  <div class="page-wrapper page-perdiste">
  	<app-header
      :color="'blue'"
      :showSponsors="true"
      :showMenu="true"
      :score="total">
    </app-header>

    <div class="contenedor gradient-light-blue">

      <div class="container">
        <div class="row">
          <div class="col-xs-offset-3 col-xs-6">
            <img src="../assets/img/novaton_img_lose.png" class="center-block image-don-ok">
          </div>
        </div>
        <div class="row flex-vertical-center">
            <div class="col-md-offset-3 col-md-6">
              <h1 class="puffy-text color-lightpink">Conseguiste {{ score }} Puntos</h1>
              <div class="row">
                <p>Tienes {{ score }} en total</p>
              </div>
              <div class="row">
                <div class="col-md-offset-2 col-md-8">
                  <router-link
                    :to="'ranking'"
                    tag="button"
                    class="button button-position-over">
                      Ver Ranking
                    </router-link>
                </div>
              </div>
              <div class="row">
                <div class="col-md-offset-2 col-md-8">
                  <router-link
                    :to="'play'"
                    tag="button"
                    class="button btn-orange button-position-over">
                      Jugar
                    </router-link>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Header from '@/components/Header'
import { mapState } from 'vuex'

export default {
	name: 'Perdiste',
	components: {
		'app-header': Header
	},
	computed: mapState([ 'score', 'total' ])

}
</script>
