<template>
	<div class="page-wrapper page-play" @click="focusNextLetter">
		<app-header
			:color="color"
			:highlightSeconds="highlightSeconds"
			:countdownSeconds="secondsLeft"
			:score="score"
			:showCountdown="true"
			:showScore="true"
			:showSponsors="false"
			:showLogo="true"
			:showMenu="false">
		</app-header>

    	<div :class="['contenedor', 'gradient-' + color]">
			<div class="container">
				
				<div class="row flex-vertical-align">
					<div class="col-md-offset-3 col-md-6">
						<div class="play-don-mobile">
		      				<img v-show="isDonPlaying  && !isDonHurry" src="../assets/img/don_playing.png" alt="" class="image-don-playing">
		      				<img v-show="isDonOK" src="../assets/img/don_ok.png" alt="" class="image-don-ok">
		      				<img v-show="isDonHurry && !isDonOK" src="../assets/img/don_hurry.png" alt="" class="image-don-hurry">
		      			</div>
						
		      			<div :class="['puffy-text question', 'color-' + color]">
		      				Nova sirve para
		      			</div>

						<div class="word-mask" v-if="currentWordMask != false">
						<span class="word-mask-word" v-for="(word, i) in currentWordMask.maskedWords">
							<span v-for="(letter, x) in word" :class="{
								'word-mask-placeholder': true,
								'word-mask-letter-underline': !letter.mask,
								'word-mask-letter-wrong': !letter.mask && letter.attempt != '' && letter.attempt.toLowerCase() != letter.letter.toLowerCase(),
								'word-mask-letter-correct': !letter.mask && letter.attempt != '' && letter.attempt.toLowerCase() == letter.letter.toLowerCase(),
								'blink': letter.focused
							}" 
							@click="toggleLetter(letter)">
								<span v-html="letter.mask !== false ? letter.letter : letter.attempt == '' ? mask : letter.attempt">
								</span>
								<input 
									v-if="!letter.mask" 
									class="word-mask-try" 
									type="text" 
									:data-index="letter.index"
									@input.prevent="tryLetter(letter, $event)" 
									@click="letterClick(letter, $event)">
							</span>
						</span>
						</div>
					</div>
				</div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Header from '@/components/Header'
import axios from 'axios'
import { knuthShuffle } from 'knuth-shuffle'
import words from '@/Words.js'

export default {
	name: 'Play',
	components: {
		'app-header': Header
	},
	data () {
		return {
			currentColor: 0,
			currentDifficulty: 0,
			currentWord: -1,
			currentWordMask: false,
			difficultyIncrementSteps: [
				{
					step: 1,
					seconds: 5,
					difficulty: 10			
				},
				{
					step: 3,
					seconds: 5,
					difficulty: 20			
				},
				{
					step: 5,
					seconds: 5,
					difficulty: 30			
				}, 
				{
					step: 10,
					seconds: 5,
					difficulty: 40			
				},
				{
					step: 15,
					seconds: 4,
					difficulty: 50			
				},
				{
					step: 20,
					seconds: 3,
					difficulty: 60			
				}
			],
			highlightSeconds: false,
			lastTry: 0,
			initialSeconds: 15,
			isRunning: false,
			isNextReady: false,
			isDonPlaying: false,
			isDonOK: false,
			isAcceptingAttempts: true,
			isAttempting: false,
			mask: '&nbsp;',
			minimumHelpLetters: 1,
			scorePerWord: 50,
			secondsLeft: 0,
			timeout: false,
			wordsList: [],
			wordsPool: []
		}
	},
	computed: {
		color () {
			return this.currentColor > -1 ? this.$store.state.colors[this.currentColor] : ''
		},
		score: {
			get () {
				return this.$store.state.score
			},
			set (value) {
				this.$store.commit('setScore', value)
			}
		},
		api: {
			get () {
				return this.$store.state.api
			}
		},
		isDonHurry () {
			return this.secondsLeft <= 5
			//return false
		}
	},
	watch: {
		currentColor (old, val) {
			this.$store.commit('changeColor', this.currentColor)
		}
	},
	methods: {
		addScore (amount) {
			this.$store.commit('addScore', amount)
		},
		checkWord () {
			let emptyLetters = []
			let wrongLetters = []
			for (let w in this.currentWordMask.maskedWords) {
				for (let l in this.currentWordMask.maskedWords[w]) {
					let letter = this.currentWordMask.maskedWords[w][l]
					if (!letter.mask) {
						if (letter.attempt.toLowerCase() != letter.letter.toLowerCase())
							wrongLetters.push(letter)
						if (letter.attempt == '')
							emptyLetters.push(letter)
					}
				}
			}
			return emptyLetters.length == 0 && wrongLetters.length == 0
		},
		completeLetter (letter, index) {
			for (let w in this.currentWordMask.maskedWords) {
				for (let l in this.currentWordMask.maskedWords[w]) {
					let targetLetter = this.currentWordMask.maskedWords[w][l]
					if (targetLetter.letter.toLowerCase() == letter.toLowerCase()) {
						targetLetter.attempt = targetLetter.letter
						if (index != targetLetter.index)
							targetLetter.focused = false
					}
				}
			}

		},
		focusLetter (focusedLetter) {
			this.isAttempting = true

			// desenfocar todas
			for (let w in this.currentWordMask.maskedWords) {
				for (let l in this.currentWordMask.maskedWords[w]) {
					let letter = this.currentWordMask.maskedWords[w][l]
					letter.focused = false
				}
			}
			// si el parametro no es false, enfocar la del parametro
			if (focusedLetter !== false) {
				focusedLetter.focused = true
				if (document.querySelector('.word-mask-try[data-index="' + focusedLetter.index + '"]') != null)
					document.querySelector('.word-mask-try[data-index="' + focusedLetter.index + '"]').focus()
			}
			this.isAttempting = false
		},
		focusFirstLetter () {
			// enfocar primera letra (donde el attempt sea distinto a la letra)
			for (let w in this.currentWordMask.maskedWords) {
				for (let l in this.currentWordMask.maskedWords[w]) {
					let letter = this.currentWordMask.maskedWords[w][l]
					if (!letter.mask) {
						if (letter.letter.toLowerCase() != letter.attempt.toLowerCase()) {
							this.focusLetter(letter)
							return true
						}
					}
				}
			}
			return false
		},
		focusNextLetter () {
			for (let w in this.currentWordMask.maskedWords) {
				for (let l in this.currentWordMask.maskedWords[w]) {
					let letter = this.currentWordMask.maskedWords[w][l]
					if (!letter.mask && letter.letter != letter.attempt) {
						this.focusLetter(letter)
						return false
					}
				}
			}
			return true
		},
		gameOver () {
			if (this.$store.state.gameOverOnTimeout) {
				this.isRunning = false
				this.stopCountdown()
				if (this.score == 0)
					this.$router.push('perdiste')
				else
					this.$router.push('ganaste')
			}
		},
		
		// traducir porcentaje a cantidad, segun cantidad
		getDifficultySize (difficulty, size) {
			return Math.ceil((difficulty / 100) * size)
		},
		getDifficultyIncrement (step) {
			for (let pos in this.difficultyIncrementSteps) {
				if (this.difficultyIncrementSteps[pos].step >= step) {
					return this.difficultyIncrementSteps[pos]
				}
			}

			// no hay más dificultad, devolvemos el último paso
			return this.difficultyIncrementSteps[this.difficultyIncrementSteps.length - 1]
		},
		getMaskedWord (word) {
			let self = this
			let splitWord = word.split('')
			
			// armar lista de letras únicas
			let uniqueLetters = []
			for (let w in splitWord) {
				if (!uniqueLetters.includes(splitWord[w]) && splitWord[w] != ' ')
					uniqueLetters.push(String(splitWord[w]))
			}

			// randomizar letras unicas para luego removerlas
			knuthShuffle(uniqueLetters)

			// asignar dificultad actual segun última palabra
			this.setDifficulty(this.currentWord + 1)

			// traducir dificultad actual a cantidad de letras a remover
			let removeSize = this.getDifficultySize(this.currentDifficulty, uniqueLetters.length)

			// dejar un minimo de letras
			if ((uniqueLetters.length - removeSize) < this.minimumHelpLetters) 
				removeSize = uniqueLetters.length - this.minimumHelpLetters
			
			// cortar las letras segun dificultad
			let remainingLetters = uniqueLetters.slice(0, uniqueLetters.length - removeSize)
			let removedLetters = uniqueLetters.slice(uniqueLetters.length - removeSize)
			let maskedWord = splitWord.map((letter) => {
				return remainingLetters.includes(letter) || letter == ' ' ? letter : false
			})
			let maskedString = splitWord.map((letter) => {
				return remainingLetters.includes(letter) ? letter : this.mask
			}).join('')

			let maskedWords = [[]]
			for (let i in maskedWord) {
				let letter = maskedWord[i]
				if (letter === ' ')
					maskedWords.push([])	 
				else
					maskedWords[maskedWords.length - 1].push({
						letter: splitWord[i], 
						mask: letter,
						toggled: false,
						attempt: '',
						focused: false,
						index: i
					})
			}

			return {
				word: splitWord,
				maskedWord: maskedWord,
				maskedWords: maskedWords,
				maskedString: maskedString,
				wordString: word,
				remaining: remainingLetters,
				removed: removedLetters
			}
		},
		letterClick (letter, e) {
			this.focusLetter(letter)
			e.target.value = ''
		},
		loadRandomizedWordPool () {
			this.wordsPool = this.wordsPool.concat(knuthShuffle(this.wordsList.slice(0)))
		},
		nextWord () {
			if (!this.isRunning)
				this.startGame()
			else {
				// sumar puntos
				// this.addScore(this.scorePerWord)
				this.loadNextWord()
			}
			this.isAcceptingAttempts = true
			this.isDonPlaying = true
			this.isDonOK = false
		},
		loadNextWord () {
			// cambiar fondo
			this.currentColor = (this.currentColor == this.$store.state.colors.length - 1) ? 0 : this.currentColor + 1 

			// si llegó al final del batch, vuelvo a cargar el mazo completo desordenado
			if (this.currentWord == this.wordsPool.length - 1)
				this.loadRandomizedWordPool()

			// ubico en siguiente palabra
			this.currentWord++

			// obtener mask
			let maskedWord = this.getMaskedWord(this.wordsPool[this.currentWord].word)
			if (this.$store.state.debug)
				console.log(maskedWord.wordString)
			this.currentWordMask = maskedWord
			this.isNextReady = false
			let self = this
			this.$nextTick(() => {
				this.focusFirstLetter()	
			})
		},
		pauseCountdown () {
			this.isRunning = !this.isRunning
		},
		stopCountdown () {
			clearInterval(window.countdown)			
		},
		setDifficulty (wordIndex) {
			this.currentDifficulty = wordIndex
			let difficultyStep = this.getDifficultyIncrement(this.currentWord + 1)
			this.currentDifficulty = difficultyStep.difficulty
			this.secondsLeft += difficultyStep.seconds
			this.highlightSeconds = true
			setTimeout(() => {
				this.highlightSeconds = false
			}, 1000)
		},
		startCountdown () {
			this.stopCountdown()
			this.secondsLeft = this.initialSeconds
			let self = this
			setTimeout(() => {
				window.countdown = setInterval(() => {
					if (self.secondsLeft == 0)
						self.gameOver()
					if (self.secondsLeft <= 5)
						self.highlightSeconds = true
					if (self.isRunning && self.secondsLeft > 0)
						self.secondsLeft--
				}, 1000)
			}, 500)
		},
		startGame () {
			// cargas la lista de preguntas
			this.secondsLeft = this.initialSeconds
			this.isRunning = true
			this.wordsList = knuthShuffle(words.slice(0)) 
			this.wordsPool = this.wordsList.slice(0)
			this.isDonPlaying = true
			this.score = 0

			// espero que carguen las palabras para seguir

			// saltar a la primera
			this.loadNextWord()

			// jugando
			this.startCountdown()
		},
		toggleLetter (letter) {
			letter.toggled = !letter.toggled
		},
		tryLetter (letter, e) {
			// si esta revisando una letra, aborto (esta presionando el teclado como loco)
			if (this.isAttempting)
				return false

			let attempt = e.target.value
			attempt = attempt.length > 0 ? attempt.substring(attempt.length - 1, attempt.length) : ' '
			try {
				if (!this.isAcceptingAttempts || attempt.toLowerCase().match(/[a-z]/) === null)
					return false
			}
			catch ($ex) {
				return false;
			}

			letter.attempt = attempt != null && attempt != ' ' ? attempt : this.mask

			// si es correcta, completo otras como esta
			if (attempt.toLowerCase() == letter.letter.toLowerCase()) {
				this.completeLetter(attempt, letter.index)

				this.focusNextLetter()
				let check = this.checkWord()
				if (check) {
					// no aceptar más letras
					this.isAcceptingAttempts = false

					this.isNextReady = true
					
					// desenfocar todas
					this.focusLetter(false)
					this.isDonOK = true
					this.isDonPlaying = false

					// guardar attempt
					this.$store.dispatch('saveAttempt', {
						'word_id': this.wordsPool[this.currentWord].id,
						'usuario_id': this.$store.state.user_id,
						punto: this.scorePerWord
					})
					this.$store.commit('addScore', this.scorePerWord)

					// pasar a siguiente
					this.highlightSeconds = false
					this.isRunning = false
					let self = this
					setTimeout(() => {
						self.isRunning = true
						self.nextWord()
						self.highlightSeconds = true
					}, 1000)
				} else {
					if (this.isNextReady) {
						this.isNextReady = false
						this.focusFirstLetter()
					}
					this.isDonOK = false
					this.isDonPlaying = true
				}
			}
		}
	},
	mounted () {
		this.startGame()
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
