<template>
  <div class="page-wrapper page-ranking">
      <app-header
	    :color="'blue'"
	    :showSponsors="true"
	    :showMenu="true"
      :score="total">
	  </app-header>


    <div class="contenedor gradient-purple">

      <div class="container">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6 ">
            <div class="row">
              <p>Top 10</p>
            </div>          
          </div>
        </div>
        <router-link
          :to="'play'"
          tag="button"
          class="button btn-orange button-position-over bg-pink">
            Jugar
          </router-link>
        <div class="row">
              <div class="col-md-6 col-md-offset-3">
               <div class="row ranking" v-for="(user, index) in users">
                <div class="img_rank">
                  <span class="lugar_rank bg-pink">{{ index + 1 }}</span>
                  <img :src="user.foto" class="rank_av">
                </div>
                <div class="info_rank">
                  <h3 class="nombre_rank">{{ user.name }}</h3>
                  <h4 class="puntos_rank">{{ user.total }} puntos</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Header from '@/components/Header'
import { mapState } from 'vuex'
import axios from 'axios'

export default {
	name: 'Ranking',
	components: {
		'app-header': Header
	},
	computed: mapState([ 'total' ]),
	data () {
		return {
			users: []
		}
	},
	created () {
		let self = this
		axios
		.get(this.$store.state.api.ranking)
		.then((data) => {
			if (this.$store.state.debug)
				console.log(data.data.data)
			self.users = data.data.data
		})
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
