<template>
	<div class="score">
		<div :class="['point-counter color-' + color + ' ' + (highlightscore ? 'header-score-bump' : '')]">
			{{ score }}
		</div>
	  	<img :src="require('../assets/img/nova_rollo_points_' + color + '.png')">
	</div>
</template> 

<script>
export default {
	props: {
		score: {
			type: Number,
			default: 0
		},
		color: {
			type: String,
			default: 'turq'
		}
	},
	data () {
		return {
			highlightscore: false
		}
	},
	computed: {
		colorClass () {
			return 'color-' + this.color
		},
		rollo () {
			return '~@/assets/img/nova_rollo_score_' + this.color + '.png' 
		}
	},
	watch: {
		score (old, val) {
			this.highlightscore = false
			setTimeout(() => {
				this.highlightscore = true	
			}, 100)
		}
	}
}
</script>             

<style></style>